@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

$_width: 100%;

.slider {
    position: relative;
    height: 84vh;
    width: calc($_width * 3);
    display: flex;
    left: -200%;
    margin-left: 0.125rem;

    animation-name: move-slide;
    animation-duration: 19s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    @media(max-width:500px) {
        height: 400px;


    }

    @media(max-width:400px) {
        height: 300px;
    }

    &__one,
    &__two,
    &__three {
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width:500px) {
            height: 100%;
            margin-top: 20px;


        }

    }

    &__title {
        position: absolute;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 5px rgb(0, 0, 0);
        font-family: 'Noto Sans', sans-serif;
        padding: 5%;
        text-align: center;

        @media (max-width: 500px) {
            font-size: 18px;
            width: 100%;
        }


    }



    &__image {
        width: $_width;
        object-fit: cover;
        object-position: center;
    }

    @keyframes move-slide {
        0% {
            left: 0;
        }

        20% {
            left: 0;
        }

        25% {
            left: -100%;
        }

        45% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        70% {
            left: -200%;
        }

        75% {
            left: -100%;
        }

        95% {
            left: -100%;
        }

        100% {
            left: 0;
        }

    }

}