* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    font-size: 1.5em;
    border: 3px solid pink;
    margin: 2vw;
    border-collapse: collapse;
}

th, td{
    border: 3px solid blueviolet;
    text-align: center;
    padding: 1vw 2vh;
}

th {
    background-color: yellow;
}

td {
    background-color: aqua;
}