@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto+Mono:wght@100&display=swap');
@import url(/fonts/RobotoMono-Italic-VariableFont_wght.ttf);

html {
    font-size: 0.6rem;
}

body {
    background-color: beige;
    font-size: 1.5em;
}

/* selector de etiqueta grupal */
h1, h2 {
    color: yellow;
    background-color: black;
    font-family: 'Barriecito', cursive;
}

/* selector de etiqueta individual */
p {
    color: blue;
    text-transform: capitalize;
    text-align: center;
    
}

/* selector de etiqueta descendente */
div p {
    color: black;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

div {background-color: brown;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 15px;
}

h4 {text-align:left;}

